
*.out
*.json
CS2050/Lab1/Lab1.h
*.pyc
CS2050/Lab2/lab2.h
CS2050/Lab3/lab3.h
CS2050/Prelab4/prelab4.h
CS2050/Lab4/lab4.h
CS2050/Lab5/lab5.h
CS2050/Lab7/lab7.h
UNIXOS/FirewallAnalysis/firewall_log_analysis.sh
UNIXOS/FirewallAnalysis/firewall_log_permissions.log
